<div id="blindqueryid">
  <h1>Blind Spot Quiz Save</h1>
  <p><b>Unique ID</b> : {{newHero}}</p>
  <p><b>Not Known to Others</b> : {{website}}</p>
  <p>Unknown: able accepting adaptable bold brave calm caring cheerful clever complex confident dependable dignified energetic extroverted friendly giving happy helpful idealistic independent ingenious kind knowledgeable logical loving modest nervous patient powerful proud quiet reflective relaxed religious responsive searching self-assertive self-conscious sensible sentimental shy silly spontaneous sympathetic tense trustworthy warm wise witty</p>
  <p><b>The next step is to ask several of your friends and colleagues to say which words they associate with you. You can do this by directing them to the following URL:-</b></p>
  <a href="http://localhost:4200/app-blind-quiz-query/{{newHero}}">http://localhost:4200/app-blind-quiz-query/{{newHero}}</a>
</div>