
<div id="curiosityqueryid">
    <p>curiosity Quiz</p>
<table id="curiosityQuerytable">
<tr *ngFor="let entry of entries">
    <td id="quizQueryId">{{ entry.question }}</td>
    <td>
        <input type="radio" name="radiogroup" 
            
            [value]="entry.queryid" >
            <!-- (change)="onSelectionChange(entry)"> -->
    </td>
    <td>
        <input type="radio" name="radiogroup" 
            
            [value]="entry.queryid" >
            <!-- (change)="onSelectionChange(entry)"> -->
    </td>
</tr>
</table>
</div>