.mainDiv{
  margin-top: 100px;
}
.commonHeader{
  color: #0033A0;
  font-size: 30px;
  font-weight: bold;
  font-family: Arial;
}
.submitBtn{
  background-color: #0033A0;
  color: white;
  float: right;
  border-radius: 10px;
  justify-content: center;
  border: 1px solid #eee;
  height: 50px;
  width: 120px;
  font-size: x-large;
  font-family: Arial;
}
a{
  text-decoration: none;
  color: white;
}