<div class="container col-xs-12 col-md-12"> 
  <div class="row">
    <div class="col-xs-4 col-md-2"></div>
    <div class="col-xs-10 col-md-8">
      <div class="homemaindiv">
       
        <div class="row">
          <div class="col-xs-3 col-md-1"></div>
          <div class="col-xs-6 col-md-3 subHeaderCls">
            <h4 class="homeSubHeader">Self-Check</h4>
            <div class="row">
              <div class="center">
              <div class="col-xs-12 col-sm-4">
              <button type="button" class="btn" class="homeDisplayCls" style="background-color: red;">
              <a routerLink="/curiosityQuiz">
                <span>Curiosity Quiz</span>
              </a>
              </button>
              </div>
            <div></div>
            <div class="col-xs-12 col-sm-4">
            <button type="button" class="btn" class="homeDisplayCls" style="background-color: orange">
              <a routerLink="/blindQuizQuery">
                <span>Blind spot Quiz</span>
              </a>
              </button>
            </div>
              <div></div>
              <div class="col-xs-12 col-sm-4">
              <button type="button" class="btn" class="homeDisplayCls" style="background-color: orangered;">
              <a routerLink="/growthMindesetQuiz">
                <span>Growth Mindset Quiz</span>
              </a>
              </button>
              </div>
              </div>
              </div>
          </div>
          <div class="col-xs-3 col-md-1"></div>
          <div class="col-xs-6 col-md-3 subHeaderCls">
            <h4 class="homeSubHeader">How I Learn</h4>
            <div class="row">
              <div class="center">
              <div class="col-xs-12 col-sm-3">
            <button type="button" class="btn" class="homeDisplayCls1" style="background-color: darkmagenta">
              <a routerLink="/curiosityQuizQuery">
                <span>Making time for me</span>
              </a>
              </button>
              </div>
              <div></div>
              <div class="col-xs-12 col-sm-3">
              <button type="button" class="btn" class="homeDisplayCls1" style="background-color: darkmagenta">
              <a routerLink="/curiosityQuizQuery">
                <span>Productivity Zone</span>
              </a>
              </button>
              </div>
              <div></div>
              <div class="col-xs-12 col-sm-3">
              <button type="button" class="btn" class="homeDisplayCls1" style="background-color: violet">
              <a routerLink="/curiosityQuizQuery">
                <span>Continous Learning Assessment</span>
              </a>
              </button>
              </div>
              <div></div>
              <div class="col-xs-12 col-sm-3">
              <button type="button" class="btn" class="homeDisplayCls1" style="background-color: darkorchid">
              <a routerLink="/curiosityQuizQuery" >
                <span>Storytelling for Impact</span>
              </a>
              </button>
              </div></div></div>
          </div>
          <div class="col-xs-3 col-md-1"></div>
          <div class="col-xs-6 col-md-2 subHeaderCls">
            <h4 class="homeSubHeader">Adoption</h4>
            <div class="row">
              <div class="center">
              <div class="col-xs-12 col-sm-4">
            <button type="button" class="btn" class="homeDisplayCls2" style="background-color: rgb(3, 252, 186)">
              <a routerLink="/curiosityQuizQuery">
                <span>Reflection tool</span>
              </a>
              </button>
              </div>
              <div></div>
              <div class="col-xs-12 col-sm-4">
              <button type="button" class="btn" class="homeDisplayCls2" style="background-color: lightgreen;">
              <a routerLink="/curiosityQuizQuery" >
                <span>Learning Myths</span>
              </a>
              </button>
              </div>
              <div></div>
              <div class="col-xs-12 col-sm-4">
              <button type="button" class="btn" class="homeDisplayCls2" style="background-color: rgb(25, 194, 25);">
              <a routerLink="/curiosityQuizQuery">
                <span>Culture observation tool</span>
              </a>
              </button>
              </div></div></div>
          </div>
          <div class="col-xs-3 col-md-1"></div>
        </div>
      </div>
    </div>
    <div class="col-xs-4 col-md-2"></div>
  </div>
</div>


