.homeHeader{
    text-align: left;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    font-style: italic;
    font-size: 30px;
    font-family: Arial !important;
  }
.subHeaderCls{
    background-color: whitesmoke;
    height: 350px;
    border-radius: 10px;
    justify-content: center;
    border: 1px solid #eee;
  }
.homeDivFormat{
    background-color: white;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 25px;
  }
.homemaindiv{   
    background-color : #0033A0;
    margin-top: 150px;
    height: 450px;
}
.homeSubHeader{   
  text-align: center;
  color: #0033A0;
  font-size: 24px;
  margin-top: 8px;
  font-family: Arial !important;
}
.homeDisplayCls{    
    border-radius: 10px;
    justify-content: center;
    border: 1px solid #eee;
    height: 70px;
    width: 180px;
    margin: 15px 0px 15px -15px;
    font-size: 20px;
    font-family: Arial !important;
}
.homeDisplayCls1{    
  border-radius: 10px;
  justify-content: center;
  border: 1px solid #eee;
  height: 60px;
  width: 200px;
  margin: 5px 0px 10px -25px;
  font-size: 20px;
  font-family: Arial !important;
}
.homeDisplayCls2{    
  border-radius: 10px;
  justify-content: center;
  border: 1px solid #eee;
  height: 88px;
  width: 145px;
  margin: 5px 0px 5px -27px;
  font-size: 20px;
  font-family: Arial !important;
}
a{
  text-decoration: none;
  color: white;
}
.center{
  margin: 0 auto;
  width: 70%;
}
