<table style="margin-top: 200px; width: 100%;" cellpadding="0" cellspacing="0">
    <tr>
        <th style="padding: 3px;">
            <a>QuestionNo</a>
        </th>
        <th style="padding: 3px;">
            <div style="margin-right: 6px;">
                <a style="width:100%;">Question</a>
            </div>
        </th>
        <th style="padding: 3px;">
            <div style="margin-right: 6px;">
                <a style="width:100%;">Answer</a>
            </div>
        </th>
        <th style="padding: 3px;">
         <div style="margin-right: 6px;">
            <a style="width:100%;">Score</a>
         </div>
     </th>
    </tr>
     
       <tr class="quizSection" *ngFor="let entry of entries">
           <td style="padding: 3px;">
               <div style="margin-right: 6px;">
                       <a >{{entry.questionNo}}</a>
               </div>
           </td>
           <td style="padding: 3px;">
               <div style="margin-right: 6px;">
                       <input type="text" value="{{entry.question}}" style="width:100%;" ngModel="{{entry.question}}">
               </div>
           </td>
           <td style="padding: 3px;">
               <div style="margin-right: 6px;">
                    <input type="text" value="{{entry.userAnswer}}" style="width:100%;" ngModel="{{entry.userAnswer}}" >
               </div>
           </td>
           <td style="padding: 3px;">
            <div style="margin-right: 6px;">
                 <input type="text" value="{{entry.userAnswer}}" style="width:100%;" ngModel="{{entry.score}}" >
            </div>
        </td>
       </tr>
       
       </table>

       <div class="submitBtnDiv">
          <a [routerLink]="['/curiosityResults']">
          <button type="button" class="btn" class="submitBtn" >Save</button>              
        </a>

  </div>