.submitBtn{
    background-color: #0033A0;
    color: white;
    float: left;
    margin-top: 20px;
    margin-left: 550px;
    border-radius: 10px;
    justify-content: center;
    border: 1px solid #eee;
    height: 35px;
    width: 95px;
    font-size: 20px;
    font-family: Arial;
  }

  .mainDiv{
    margin-top: 100px;
  }
  .commonHeader{
    color: #0033A0;
    font-size: 24px;
    font-weight: bold;
    font-family: Arial;
  }