/* You can add global styles to this file, and also import other style files */
.h1, .h2, .h3, .h4{
    font-family: Arial !important;
}
.appTxt{
    font-family: Arial !important;
    color: #404040;
}
.btnBckgrd{
    background-color : #2D67FF !important;
    border-color: #2D67FF !important;
}